.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;

}

.button {
   margin-top: 40px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   color: #393E46;
   font-family: "Lobster", cursive;
   font-size: 32px;
   font-weight: 100;
   padding: 15px 20px;
   background-color: #4ECCA3;
   border: solid #393E46 1px;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
}

.button:hover {
   margin-top: 40px;
   color: #4ECCA3;
   background: #393E46;
   border: solid #4ECCA3 1px;
   -webkit-border-radius: 16px;
   -moz-border-radius: 16px;
   border-radius: 16px;
   text-decoration: none;
}

.button:active {
  box-shadow: 1px 1px #4ECCA3;
  transform: translateY(2px);
}
