body {
  margin: 0;
  font-family: cursive;
  background-color: whitesmoke;
}

img, iframe {
  padding: 15px;
  border: 4px solid black;
  border-radius: 18px;
  box-shadow: 3px 3px silver;
}

.botnav {
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(#383838, black);
}

.bottom {
  align-items: center;
  margin: 30px;
  margin-left: 560px;
  text-align: center;
  font-size: 22px;
  background-image: linear-gradient(#383838, black);
  height: 60px;
  width: 250px;
  border-radius: 20px;
  color: white;
  border-color: transparent;
}

.bottom:hover {
  background-image: none;
  background-color: black;
  color: red;
}

.bottom:active {
  color: darkred;
  transform: translateX(1px) translateY(1px);
}

.blahtext {
  line-height: 2;
  text-align: justify;
  font-weight: normal;
}

.blog {
  margin-top: 40px;
}

.bullet {
  position: absolute;
  left: 250px;
  font-weight: bolder;
}

.date {
  font-weight: bold;
  width: 10.5%;
}

.exit {
  margin-top: 30px;
  color: white;
  font-size: 16px;
  margin-bottom: 5px;
}

.fa {
  color: white;
  margin-left: 5px;
}

.footer-link {
  padding: 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.intro {
  padding: 30px 80px;
}

.inp {
  margin-left: 15px;
  width: 100px;
  border-radius: 18px;
}

.imgtext {
  text-align: center;
  font-weight: bold;
}

.landimg {
  text-align: center;
}

.logo {
  display: inline-block;
  padding: 0 40px;
  font-size: 2.5rem;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo a:hover {
  color: silver;
  cursor: pointer;
}

.nav {
  background-color: black;
  width: 100%;
  height: 135px;
  text-align: center;
}

.navitem {
  text-decoration: none;
  margin: 0 50px;
  color: white;
}

.navitem:hover {
  margin: 0 50px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}

.navedge {
  text-decoration: none;
  margin: 0 150px;
  color: white;
  font-size: 16px;
}

.navedge:hover {
  margin: 150px;
  color: red;
  cursor: pointer;
}

.redsub {
  margin-left: 30px;
  color: red;
}

.redlink {
  text-decoration: none;
  color: red;
}

.redlink:hover {
  color: darkred;
}

.resource {
  font-size: 24px;
  background-image: linear-gradient(#383838, black);
  width: 80%;
  height: 40px;
  text-align: center;
  color: white;
  border-radius: 18px;
  list-style: none;
  margin: 3px 100px;
  padding: 20px;
}

.resource:hover {
  color: red;
  cursor: pointer;
}

.resources {
  padding: 25px 80px;
}

.smallnav {
  background-image: linear-gradient(#383838, black);
  height: 25px;
  padding: 10px 20px;
  text-align: center;
}

.songimg {
  display: inline-block;
  margin: auto 50px;
}

.vault {
  padding: 30px 80px;
}
